@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');
:root{
  --primary_color:#2D6A4F;
  --secondary_color: #F4A261;
  --light_background:#F8F9FA;
  --dark_background:#1B1F23;
  --text_primary: #212529;
  --text_secondary: #6C757D;
  --success: #40916C;
  --warning: #E76F51;
  --padding-0-5-rem: .5rem;
  --marging-0-5-rem: .5rem;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
   font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
section{
  position: absolute;
}
.container{
padding: var(--padding-0-5-rem);
}
.btn_wrapper{
  display: flex;
  width: 25%;
  justify-content: space-evenly;
}
nav{
  display: flex;
  justify-content: space-between;
}
.logo {
  object-fit: cover;
}
.logo img{
  height: 50px;
  width: 100px;
}
.nav_link{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
h1{
  font-weight: 800;
  color: var(--primary_color);
}
.hero{
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
}
.left_hero{
  position: absolute;
  width: 60%;
}

.right_hero{
  position: absolute;
  width: 40;
}